* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bungee Hairline", cursive;
  }
  
  body {
    background: black;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Bungee Outline", cursive;
    line-height: 100%;
  }
  
  header {
    background: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s;
  }
  
  .shrink-header {
    height: 40px;
    color: white;
    font-size: 0.7rem;
  }
  
  section {
    height: 100vh;
    width: 100%;
  }
  
  #hero {
    background: url("https://image.freepik.com/free-photo/wireless-keyboard-mouse-cup-coffee-table_140725-8945.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hero h2 {
    font-size: 10rem;
    color: black;
  }
  
  #content {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Grey_background.jpg/1200px-Grey_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  
  aside {
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 55%;
    color: white;
    display: flex;
    flex-direction: row;
  }
  
  aside h3 {
    font-size: 2rem;
    color: rgb(223, 212, 205);
  }

  